@import '../GlobalStyles.scss';

.m-center {
    margin: 0 150px;
}
.eye {
    color: $text-color;
    top: 50%;
    right: 10%;
    cursor: pointer;
}

.label-regis {
    background-color: white;
    color: black;
    font-weight: 500;
}
