


.content-container-short{
    display: flex;
    flex-direction: column;
    width: 100%;


    .assignment-info-box {


        .assignment-info {
            display:flex;
            justify-content:space-between;
            background-color:#e7e7e7;
            border-radius: 10px;


            .header-infor{
                margin: 0;
                padding: 20px 20px;
                font-weight: 500;
                
            }
            .header-infor:first-child{
                // margin-left: 20px;
            }
        }
    }
    .question-container{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 30px;
        height: auto;
        min-height: 100px;
        width: 100%;
        background-color: white;
        border-radius: 10px;


          .question-teacherAnswer{
            display: flex;
            justify-content: space-between;
            padding: 20px;
            width: 100%;
            gap: 50px;
            // border: 1px solid red;


            .question-content{
              width: 80%;
            }
            .button-teacher-answer{
              width: 20%;
              .button-hidden{
                  // margin-right: 10px;
                  border: none;
                  color: rgb(62, 140, 250);
                  background-color: transparent;
                  font-size: 14px;
                  font-weight: 600;

                  &:hover{
                    background-color: rgb(236, 243, 253);
                    border-radius: 5px;
                  }
                  
              }
              
            }
          }


          .teacher-answer{
            padding: 0px 40px;
          }

          .grading-answer-student{

            .answer-student {
              margin-top: 20px;
              background-color: rgb(195, 219, 252);
              border-radius: 10px;
              padding: 20px;
              // border: 1px solid red;
            }

            ._grading{
              margin-top: 20px ;
              margin-right: 20px;
              margin-bottom: 10px;
              float: right;
              display: flex;

              .button-grading{
                
                .correct-answer,.incorrect-answer{
                  margin-right: 10px;
                  width: 50px;
                  height: 50px;
                  border: 1px solid rgb(206, 205, 205);
                  border-radius: 10px;
                  background-color: transparent;
  
                  &:hover{
                    background-color: rgb(236, 236, 236);
                  }
                }
              }
              .point-grading{
                  .input-point{
                    width: 50px;
                    text-align: center;
                    margin-top: 10px;
                    border: none;
                    border-bottom: 1px solid;
                  }
              }
              
                
            }
          }
          
        
    }
}

.give-save-grade{

  .save-grade{
    button{
      border: none;
      width: 100px;
      background-color: rgb(111, 159, 247);
      border-radius: 10px;
      padding: 10px;
    }
  }
}