$blue-color: #517ed1;
$text-color: #858792;
$main-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$red-color: #d71313;
$green-color: #50be52;
$intro-color: white;
//
$body-bg: #f5f8ff;
$box-bg: #fff;
$input-bg: #e0f4ff;
$txt-color: #2f2d2f;
$txt-second-color: #ccc;
$border-color: #4267b2;
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
