// AddAssignmentShort.scss
hr {
  margin: 0;
}

textarea {
  height: 50px;
}

.is-invalid {
  border: 1px solid red;
  background-color: rgb(255, 197, 197) !important;
}

.title-text.is-invalid,
.description-text.is-invalid,
.title-question.is-invalid,
.answer-question.is-invalid{
  border-radius: 10px;
  border: 1px solid red !important;  // Đặt màu viền đỏ cho các textarea khi có lỗi
}

.header-short-assignment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.right-sidebar {
position: fixed;
top: 50%;
right: 20px;
transform: translateY(-50%);
height: 150px;
border-radius: 20px;
background-color: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
display: flex;
align-items: center;
justify-content: center;
}
  
.add-new-button {
background: none;
border: none;
cursor: pointer;
font-size: 24px;
color: #4e73df;
margin: 2px;
}

.title-container {
  margin-top: 30px;
  border-radius: 10px;
  min-height: 100px;
  height: auto;
  width: 60%;
  background-color: white;
}

.content-add-item {
  position: relative;
  margin-top: 30px;
  height: auto;
  min-height: 100px;
  width: 60%;
  background-color: white;
  border-radius: 10px;
}

.line {
  height: 10px;
  background-color: #4e73df;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 10px;
}

.title-text,
.description-text,
.title-question,
.answer-question {
  border: solid transparent;
  outline: none;
  font-size: 20px;
  width: calc(100% - 20px);
}

.title-question {
  border-radius: 10px;
}

.answer-question {
  background-color: rgb(195, 219, 252);
  border-radius: 10px;
}

.title-question:focus,
.answer-question:focus {
  background-color: #ccc;
  border-radius: 10px;
}

.title-text {
  font-size: 30px;
}

.grade-input {
  width: 60px;
  font-size: 15px;
  margin: 5px;;
}

.footer-item {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  float: right;
}

.footer-question {
  float: right;
}

.ml {
  margin-left: -100px
}

.delete-question-icon,
.duplicate-question-icon {
  margin-bottom: 10px;
  cursor: pointer;
  margin-right: 5px;
  font-size: 20px;
}
.add-item-animation {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
0% {
    opacity: 0;
    transform: translateY(-20px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
  