hr {
  margin: 0;
}

textarea {
  height: 50px;
}

.header-short-assignment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.right-sidebar {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  height: 150px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-new-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #4e73df;
  margin: 2px;
}

.title-container,
.content-add-item {
  margin-top: 30px;
  height: auto;
  width: 80%; // Adjusted width
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); // Added box shadow
}

.line {
  height: 10px;
  background-color: #4e73df;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 10px;
}

.title-text,
.description-text,
.title-question {
  border: none;
  outline: none;
  font-size: 20px;
  width: calc(100% - 20px);
  padding: 10px; // Added padding for better spacing
}

.title-question {
  background-color: #f0ebf8;
  border-radius: 10px;
}

.title-question:focus {
  background-color: #ccc;
  border-radius: 10px;
}

.title-text {
  font-size: 30px;
}

.footer-question {
  margin-top: 10px; // Adjusted margin
}

.delete-question-icon,
.duplicate-question-icon {
  margin-right: 10px; // Adjusted margin
  font-size: 20px;
  cursor: pointer;
}

.add-item-animation {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

input,
textarea,
[contenteditable] {
  font: inherit;
  line-height: 1.5;
  width: 600px;
  padding: 8px 12px;
  overflow: auto;
}

label {
  display: block;
  margin-bottom: 4px;
}

[contenteditable] {
  height: 10rem;
  border: 1px solid;
  resize: both;
}

